<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Autores</title>
  <link rel="stylesheet" href="../static/css/global.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/autores.css">
</head>
<body>
  <header>
    <div class="title_container">
      <h1>CÁLCULO DE EXERGIA EM MOTORES A COMBUSTÃO</h1>
    </div>

    <nav class="nav_container">
      <ul class="nav_list">
        <li class="nav_item">
          <a class="link" href="{{ url_for('simulador') }}">Simulador</a>
        </li>
        <li class="nav_item">
          <a class="link" href="{{ url_for('teoria') }}">Teoria</a>
        </li>
        <li class="nav_item">
          <a class="link" href="{{ url_for('ajuda') }}">Ajuda</a>
        </li>
        <li class="nav_item">
          <a class="link selected" href="{{ url_for('autores') }}">Autores</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="main_container">
    <div class="authors_container">
      <div class="author_card">
        <div class="image_container">
          <img src="../static/assets/hernandes.jpeg" alt="" class="image">
        </div>
        <div class="content_container">
          <h2 class="name">Prof. Hernandes de Souza Brandão</h2>
          <p class="description">Mestre em Engenharia Mecânica</p>
        </div>
      </div>
      <div class="author_card">
        <div class="image_container">
          <img src="../static/assets/robson.jpeg" alt="" class="image">
        </div>
        <div class="content_container">
          <h2 class="name">Prof. Robson Rodrigues da Silva</h2>
          <p class="description">Doutor em Engenharia Biomédica</p>
        </div>
      </div>
      <div class="author_card">
        <div class="image_container">
          <img src="../static/assets/maria.jpeg" alt="" class="image">
        </div>
        <div class="content_container">
          <h2 class="name">Maria Luiza Zitei Brandão</h2>
          <p class="description">Mestranda em Engenharia Biomédica</p>
        </div>
      </div>
      <div class="author_card">
        <div class="image_container">
          <img src="../static/assets/thiago.png" alt="" class="image">
        </div>
        <div class="content_container">
          <h2 class="name">Thiago Motejunas</h2>
          <p class="description">Graduando em Sistema de Informação</p>
        </div>
      </div>
    </div>

    <div class="logos_container">
      <div class="logo">
        <img src="../static/assets/pibic.png" alt="LOGO PIBIC">
      </div>
      <div class="logo">
        <img src="../static/assets/umc.png" alt="LOGO UMC">
      </div>
    </div>
  </main>
</body>
</html>